* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7f3e5;
    color: #1e1e1e;
    line-height: 1.5;
}

header {
    background-color: #f7f3ea;
    padding: 1rem 2rem;
}

header h1 {
    display: inline-block;
    font-size: 1.5rem;
}

header nav {
    display: inline-block;
    float: right;
}

header nav ul {
    display: inline-flex;
    list-style: none;
    gap: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
}

header .btn {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 5px;
}


.contacto-hero {
    background-color: #cbd6e2;
    text-align: center;
    padding: 3rem 2rem;
}

.contacto-hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


.formulario {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fila {
    display: flex;
    gap: 1rem;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 20px;
    border: none;
    background-color: #e9e2d1;
    font-size: 1rem;
}

textarea {
    resize: none;
}

.btn {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border-radius: 25px;
    align-self: center;
    transition: 0.3s;
}

.btn:hover {
    background-color: #5b636b;
}


.info-contacto {
    padding: 3rem 2rem;
    background-color: #f7f3e5;
}

.info-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    background-color: #cbd6e2;
    padding: 1rem;
    border-radius: 15px;
    max-width: 300px;
    text-align: center;
}

.mapa iframe {
    border-radius: 10px;
    margin-bottom: 3rem;
}

footer {
  background-color: #55788e;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 16px;
}

footer a {
  color: #c6d8e5;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #fff;
}

footer .info {
  max-width: 400px;
}

footer .social {
  text-align: center;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    padding: 48px 32px;
  }

  .categorias {
    padding: 32px 16px;
  }

  .producto img {
    width: 150px;
  }
}
